<div class="auth-wrapper">
  
  <div class="auth-card text-center">
    
    <h1 class="brand-title">Kaelamin Flashcards</h1>
    <p class="brand-subtitle text-uppercase">즐겁게 공부하세요</p>
    
    <div class="mb-4 text-start">
      <input type="email" class="form-control custom-input mb-3" placeholder="Email">
      <input type="password" class="form-control custom-input" placeholder="Password">
    </div>

    <button (click)="accesoInvitado()" class="btn btn-dark-auth w-100 mb-4">
      Entrar como Invitado <i class="bi bi-arrow-right ms-1"></i>
    </button>

    <div class="bg-light p-3 rounded-3 text-center border border-light-subtle">
      <p class="mb-1 small fw-bold text-dark">Evaluación académica</p>
      <p class="mb-0 small text-muted">
        Intente un texto credencial:<br>
        <code class="text-dark">admin@kali.com / Kali2026*</code>
      </p>
    </div>

  </div>

</div>