<div class="container d-flex justify-content-center align-content-center min-vh-100 align-items-center">
  <div class="card p-4 shadow-sm border-0 auth-card" style="max-width: 400px; width: 100%;">
    
    <div class="text-center mb-4">
      <h2 class="brand-title">Kali Days</h2>
      <p class="brand-subtitle">여행 라이프 (Yeohaeng Life)</p>
    </div>

    <div class="d-flex justify-content-center mb-4">
      <button class="btn btn-link nav-tab-btn" [class.active]="isLoginMode" (click)="isLoginMode = true">Ingresar</button>
      <button class="btn btn-link nav-tab-btn" [class.active]="!isLoginMode" (click)="isLoginMode = false">Registrarse</button>
    </div>

    <form (ngSubmit)="onSubmit()">
      
      @if (!isLoginMode) {
        <div class="mb-3">
          <label class="form-label form-custom-label">Nombre de perfil</label>
          <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control form-custom-input" placeholder="Tu nombre" required>
        </div>
      }

      <div class="mb-3">
        <label class="form-label form-custom-label">Correo electrónico</label>
        <input type="email" name="correo" [(ngModel)]="correo" class="form-control form-custom-input" placeholder="ejemplo@correo.com" required>
      </div>

      <div class="mb-3 mb-4">
        <label class="form-label form-custom-label">Contraseña</label>
        <input type="password" name="contrasena" [(ngModel)]="contrasena" class="form-control form-custom-input" placeholder="••••••••" required>
      </div>

      <button type="submit" class="btn w-100 btn-custom-submit">
        {{ isLoginMode ? 'Entrar a mi mazo' : 'Crear cuenta de estudio' }}
      </button>
    </form>

  </div>
</div>